<div class="dropdown profile-element">
    <img alt="image" src="../../../assets/img/the_ digital_workers_logo.png" width="150" height="60"/>
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
      <span class="block m-t-xs font-bold">{{currentUser?.name}}</span>
        <!--span class="text-muted text-xs block">Art Director <b class="caret"></b></!-span-->
    </a>
    <!--ul class="dropdown-menu animated fadeInRight m-t-xs">
        <li><a class="dropdown-item" href="profile.html">Profile</a></li>
        <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
        <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li>
        <li class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="login.html">Logout</a></li>
    </!-ul-->
</div>
